doctype html
head

  meta(charset="utf-8")
  //- meta(name="viewport" content="width=device-width")
  //- meta(name="viewport" content="width=device-width, initial-scale=0.5")
  //- meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
  link(href='http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="stylesheets/app.css")
  title Смартомато ищет партнеров
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body

  section
    img.illustration(src="/main_pic.jpg")
    img.illustration_small(src="/main_pic_small.jpg")
  section
    p
      | Смартомато — система онлайн-заказа и доставки еды для ресторанов. Может использоваться на уже существующем сайте ресторана и интегрироваться с его внутренними процессами. Или же как самостоятельная онлайн-витрина (сайт с нуля за 30 минут) и самодостаточный набор инструментов организации всего процесса заказа и доставки еды. Также в систему входит специальный логистический интерфейс и мобильное приложение для курьеров. Сегодня к Смартомато подключено 65 ресторанов в Москве, регионах России и за рубежом. Подробности работы партнерской программы - в&nbsp;
      a(href="http://blog.smartomato.ru/post/100249471344") нашем блоге
      |.


  section
    img.illustration(src="/horse.png")
    img.illustration_small(src="/horse_small.png")
    h2 Как это работает

    p.counter 1
    h3 В твоем городе есть рестораны, которым нужна доставка. Найди их.

  section
    img.illustration(src="/saloon.png")
    img.illustration_small(src="/saloon.png")
    p.counter 2
    h3 Подключи их к системе Смартомато: создай он-лайн витрину и настрой интерфейс обработки заказов
    p.counter 3
    h3 Найми курьеров и установи<br> им мобильное приложение<br> для приема заказов

  section
    img.illustration(src="/train.png")
    img.illustration_small(src="/train.png")
    p.counter 4
    h3 Используй онлайн-интерфейс управления курьерами и заказами и зарабатывай на этом
    h2 Первые полгода в цифрах
  section
    .block(style="top: 445px;left: 50%;margin-left: -429px;")
      .number 20000 р
      .rest_icon
      .staff_icon
      .restourants 2
      .staff 2


    .block(style="top: 405px;left: 50%;margin-left: -280px;")
      .number 30000 р
      .rest_icon
      .staff_icon
      .restourants 3
      .staff 4
    .block(style="top: 363px;left: 50%;margin-left: -119px;")
      .number 50000 р
      .rest_icon
      .staff_icon
      .restourants 5
      .staff 7

    .block(style="top: 278px;left: 50%;margin-left: 20px; width: 100px;")
      .number 100000 р
      .rest_icon
      .staff_icon
      .restourants 10
      .staff 13
    .block(style="top: 151px;left: 50%;margin-left: 169px; width: 100px;")
      .number 150000 р
      .rest_icon
      .staff_icon
      .restourants 15
      .staff 17
    .block(style="top: 75px;left: 50%;margin-left: 332px; width: 100px;")
      .number 200000 р
      .rest_icon
      .staff_icon
      .restourants 20
      .staff 22




    img.illustration(src="/plan.png")
    img.illustration_small(src="/plan_small.png")
    p.dynamic
      | Динамика роста заработка, <br/>количества ресторанов и курьеров
    p.additional
      | * 5 заказов в день в каждом ресторане. 50 р. заработка с каждого доставленного заказа. <br>
      | И ещё дополнительные 2500 р. в месяц с каждого ресторана за подключение к Смартомато.
      | <br>Первые шесть месяцев — каникулы от партнерских отчислений.



    h3 Пишите нам —&nbsp;
      a(href="mailto:partner@smartomato.ru") partner@smartomato.ru




  img.kaktus(src="/kaktus.png")
  img.bage1(src="/bage1.png")
  img.bage2(src="/bage2.png")

  .film
  .film_right