doctype html
head

  meta(charset="utf-8")
  //- meta(name="viewport" content="width=device-width")
  //- meta(name="viewport" content="width=device-width, initial-scale=0.5")
  //- meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body

  section
    img.illustration(src="/main_pic.jpg")
  section
    p
      | Смартомато — система онлайн-заказа еды для ресторанов. Была запущена в 2013 году. На данный момент подключено 65 ресторанов в Москве, регионах России и за рубежом. Система позволяет Построение сайта, онлайн заказа, управление заказами. Система позволяет Построение сайта, онлайн заказа.

  section
    img.illustration(src="/horse.png")
    h2 Как это работает

    p.counter 1
    h3 В твоем городе есть рестораны, которым нужна доставка. Найди их.

  section
    img.illustration(src="/saloon.png")
    p.counter 2
    h3 Подключи их к системе Смартомато: создай им онлайн-витрину и систему приема заказов.
    p.counter 3
    h3 Найми курьеров и установи им мобильное приложение

  section
    img.illustration(src="/train.png")
    p.counter 4
    h3 Используй онлайн-интерфейс управления курьерами и заказами и зарабатывай на этом
    h2 Первые полгода в цифрах
  section
    .block
      .number 10000 р *
      .restourants 1
      .staff 2




    img.illustration(src="/plan.png")
    p.dynamic
      | Динамика роста заработка, <br/>количества ресторанов и курьеров
    p.additional
      | * 5 заказов в день в каждом ресторане. 50 р. заработка с каждого доставленного заказа.
      | 2500 р. в месяц с каждого ресторана, подключенного к Смартомато.
      | Первые шесть месяцев — каникулы от партнерских отчислений.








  img.kaktus(src="/kaktus.png")
  img.bage1(src="/bage1.png")
  img.bage2(src="/bage2.png")

  .film
  .film_right